@font-face {
    font-family: Lack;
    src: url(/assets/fonts/lack-regular.otf);
}

@font-face {
    font-family: Lack-line;
    src: url(/assets/fonts/lack-line-regular.otf);
}

.header{
    font-family: Lack;
    font-size: 16px;
    margin: 0%;

}

.top{
    margin-bottom: 10px;
    margin-left: 10px;
}

#firstHeader{
    font-family: Lack;
    font-size: 60px;
    font-weight: bolder;
    margin: 0%;
    margin-left: 10px;
    margin-top: 10px;
}

body{
    background-color: pink;
}

#projTitle{
    font-family: Lack;
    font-size: 28px;
    font-weight: bolder;
    margin: 0%;
    margin-left: 10px;
    margin-top: 50px;
}

.projList{
    list-style: none;
}

.socials{
    margin: 8px;
}

#socials__insta{
    width: 25px;
    height: auto;
}
#socials__youtube{
    width: 25px;
    height: auto;
}
